body{background-image: url("../image/background_2.jpg"); /* source:http://wallpapercave.com/dark-forest-wallpapers*/
	position: absolute;
	background-size: cover;}

.container{ display:table;
	clear: both;
	margin: auto;
	margin-left: 15%;
	margin-top: 150px;
	width: 60%; height: 80%;}

#head{display: inline-block;
	float: left; 
	margin:0 8%;
	width:30%; 
	height: 30%; 
	opacity: 0.95;}

.content{display:inline-block; 
	text-align: center;
	width: 45%;
	/*border: 1px solid black;*/}

#arrow:{-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;}
#arrow:hover { -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.4); /* Firefox */
    -ms-transform:scale(1.4); /* IE 9 */
    -o-transform:scale(1.4); /* Opera */
     transform:scale(1.4);}


h1{display: block;
	font-family: helvetica;
	color:#000d1a;
	font-size: 2.5em;}

h2{	display:block;
	font-size: 1.2em;
	font-family: helvetica;
	color:#000d1a;
}


@media screen and (max-width: 900px) {
	body{background-image: none; }
	#head{display:block;
		width: 50%;
		clear: both;
		margin: auto;
		}
	.container{ display:block;
	clear: both;
	margin: auto;
	margin-top: 100px;
	width: 80%; height: 80%;
	}
	h1{display: inline-block;
		padding:10px 30px 10px 40px;
		font-size: 30px;
		width: 250px;
		font-family: times;
		text-align: left;}
	h2{display: block;
		padding:10px 60px 10px 60px;
		text-align: left;
		font-size: 15px;
		width: 100%;
		margin: auto;





	}
	
@media screen and (max-width:400px){
	body{background-image: none; }
	.container{ display:block;
	clear: both;
	margin: auto;
	margin-top: 100px;
	width: 80%; height: 80%;
	}



	#head{display:block;
		width: 100%;
		clear: both;
		margin: auto;
		}

	h1{display: block;
		padding:10px 60px 10px 60px;
		font-size: 20px;
		width: 100%;
		font-family: times;
		margin: auto;
		text-align: center;}
	h2{display: block;
		padding:10px 60px 10px 60px;
		text-align: center;
		font-size: 15px;
		width: 100%;
		margin: auto;
	}
	
    #arrow{margin:auto;
    padding:10px 60px 10px 88px;}
}

