body{background-image: url("../image/background_2.jpg");
	position: absolute;
	background-size: cover;}


.container{ display:table;
	clear: both;
	margin: auto;
	margin-left: 15%;
	margin-top: 150px;
	width: 60%; height: 80%;
	/*border: 1px solid black*/;}

#head{display: inline-block;
	float: left; 
	margin:0 8%;
	width:30%; 
	height: 30%; 
	opacity: 0.95;}

.content{display:inline-block; 
	text-align: center;
	width: 45%;
	/*border: 1px solid black;*/}



h1{display: block;
	font-family: Times;
	color:#000d1a;}

h2{	display:block;
	font-size: 1.2em;
	font-family: Arial;
	color:#000d1a;
}



