body{margin: 50px;
	/*background-color:#e6f5ff;*/
	background-image: url("../image/background-image.gif");}

header{
	display: block;
	height: 80px;
	width: 90%;
	margin: auto;
	/*border: 1px solid;*/}

.name_logo{
	height: 100%;
	width:40%;
	display: inline-block;
	float: left;}

#logo{ 
	display: inline-block;
	float: left;
	width: 45px;
	height:40px; 
	vertical-align: center;
	margin-top: 16.75px;
	margin-right: 10px;}

.name_logo h1{
	display: inline-block;
	width: 80%;
	float: left;
	font-family: helvetica;
	font-size: 25px;
	text-align: left;
	color: #01579b;}





.nav{display:inline-block;
	width: 40%;
	height: 100%;
	float: right;
	font-size: 15px;
	vertical-align: middle;
	/*border: 1px solid;*/}


.nav a:link, a:visited {color: #00004d;
	background-color:rgba(255,255,255);
  	font-family: helvetica;
  	text-decoration: none;
  	padding: 5px 15px;
  	border-radius: 5px;
  	display: inline-block;
  	vertical-align: middle;
  	text-align: center;
  	}
.nav a:hover{color: white;
background-color: #0288d1;}
.nav a:activc{color: white; 
background-color:#0288d1;}

.current_link{color: #ffffff;
   background:#ccdcff;}








/*gallery*/

.gallery{
	width: 80%;
	margin:auto;
}

.photos {
  display: inline-block;
  margin: auto;
}

.photos a {
  display: inline-block;
  float: left;
  margin-right: 7px;
  margin-bottom: 7px;
  opacity: 0.75;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.photos a:hover {
  opacity: 1.0;
  box-shadow: 10px 10px 5px #888888;
}

.photos img{display: inline-block;
	width: 300px;
	height: 300px;}

@media only screen and (max-width: 700px){
    .container {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

footer{text-align: center;
font-family: helvetica;
color: grey;
font-size: 12px;}





















