body  {
    background-image: url("../img/portfolio-background.jpg");
    background-size: cover;
    }



a:link, a:visited {color: #00004d;
	background-color:rgba(255,255,255, 0.2);
  font-family: helvetica;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

a:hover{color: yellow; 
background-color: transparent;}
a:activc{color: yellow; 
background-color: transparent;}


#home{
    position: absolute;
    top: 70%;
    right: 50%;
    }
#portfolio{
    position: absolute;
    top: 70%;
    right: 40%;
    }
#aboutme{
    position: absolute;
    top: 70%;
    right: 30%;
    }
#contact{
    position: absolute;
    top: 70%;
    right: 20%;
   }
