
/*gallery*/

.gallery{
	width: 80%;
	margin:100px auto;
	z-index: 0;
	float: center;
}

.gallery>#gallery{
margin-left: 6%;

}

.photos {
  display: inline-block;
  float: center;
  margin:auto;
}

.photos a {
  display: inline-block;
  float: left;
  margin: auto;
  padding: 7px;
  opacity: 0.75;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.photos a:hover {
  opacity: 1.0;
  box-shadow: 10px 10px 5px #888888;
}

.photos img{display: inline-block;
	width: 300px;
	height: 300px;}


footer{text-align: center;
font-family: helvetica;
color: grey;
font-size: 12px;}





















