body{margin:0px 0px;
	background-color:#efebe9;
	/*background-image: url("../image/background-image.gif");}*/
}


header{	display: table;
	height: 50px;
	width: 100%;
	margin: 0px auto;
	padding:7px;
	background-color: #fafafa;
	position: fixed;
	box-shadow: 2px 2px 5px #888888;
	top: 0;
	z-index: 2;}

#dropdown{display: none;}


/*header-logo*/
#name_logo{
	display:table-cell;
	height: 50px;
	width:40%;
	float: left;
    margin-left: 10%;}

#logo{ 
	display:table-cell;
	float: left;
	width: 45px;
	height:40px; 
	margin: auto;
	margin-right: 10px;}

#name_logo h1{
	display: table-cell;
	height: 50px;
	width: 80%;
	font-family: helvetica;
	font-size: 25px;
	text-align: left;
	color:  #002b80;
	padding: 10px; 
	font-weight: lighter;
	}




/*header-nav bar*/
.nav{display:inline-block;
	width: 40%;
	height: 30px;
	padding:10px;
	float: right;
	font-size: 13px;
	/*border: 1px solid;*/}


.nav a:link, a:visited {
	inline-height:50px;
	color: #001a4d;
	background-color:rgba(255,255,255);
  	font-family: helvetica;
  	text-decoration: none;
  	padding: 5px 15px;
  	border-radius: 5px;
  	display:inline-block;
  	vertical-align: middle;
  	text-align: center;
  	margin-right: 10px;
  	}
.nav a:hover{
	inline-height:50px;
	padding: 5px 15px;
	color: white;
	background-color: #0288d1;
	margin-right: 10px;
	box-shadow: 2px 2px #9fa8da;
	transform:scale(1.1);}
.nav a:activc{
	inline-height:50px;
	padding: 5px 15px;
	color: white; 
	background-color:#0288d1;
	margin-right: 10px;
	transform:scale(1.1);}

.current_link{color: #ffffff;
   background:#ccdcff;
	margin-right: 50px;}






/*footer*/
footer{
	text-align: center;
	font-family: helvetica;
	color: grey;
	font-size: 12px;
	width: 100%;
	height:100px;
    margin:auto; 
	clear: both;
    background-color: #fafafa;
    padding-top: 80px;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}





/*media query */
@media screen and (max-width: 1100px){
	.nav{display: block;
		clear: both;
		float: left;
		width: 100%;
		margin:auto;
		padding-left: 100px;
	}
    
}

@media screen and (max-width:540px){
	#logo{display: none;}
    #name_logo>h1{
    	display:inline-block;
    	font-size: 18px;
    	width: 100%;
    }

	/*nav bar */
    .nav{display: none;}
    #dropdown{display: inline-block;
    float: right;
	margin-right: 10%;
	padding: 10px;}
     /* Dropdown Button */
    }
	.dropbtn {display: inline-block;
	background-color: #001a4d;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	margin: auto;}

	/* Dropdown button on hover & focus */
	.dropbtn:hover, .dropbtn:focus {
	    background-color:#0d47a1;
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
	    position: relative;
	    display: inline-block;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	/* Links inside the dropdown */
	.dropdown-content a {
	    color: #001a4d;
	    font-size: 15px;
	    padding: 12px;
	    text-decoration: none;
	    display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: #bdbdbd;
		color: white;}

	/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
	.show {display:block;}


	}
